


#calculatorBody{
	background-image: url('/resources/images/RomanNumeralBackground.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}

#calculatorContainer{
    width: 70%;
    margin-top: 15%;
}

#numeralInput{
	float: left;
	margin-left: 6.6%;
	margin-bottom: 3%;
	margin-top: 3%;
	width:60%;
}

#calculateButton{
	float: left;
    width:20%;
    margin: auto;
    margin-top: 3%;
    margin-left: 4%;
    background-color: rgb(211, 158, 78);
    border: rgb(211, 158, 78);

}

#numeralInput:focus{ 	
    box-shadow: 0 0 20px rgb(211, 158, 78);
}

#calculationResultText{
    text-align: center;
	color: white;
	margin-top: 10%;
	margin-left: 30%;;
	font-size: 140%;
	width: 40%;
}